* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.container {
    display: grid;
    grid-template-rows: auto 1fr; /* 定义行高 */
    grid-template-columns: auto 1fr; /* 定义列宽 */
    height: 100vh; /* 让容器占满整个视口高度 */
    width: 100%; /* 确保容器宽度占满父容器 */
      
}


.sidebar {
    grid-row: 1 / -1;
    background-color: #2d5b83;
    color: white;
}

.sidebar nav {
    display: flex;
    flex-direction: column;
}

.sidebar button {
    padding: 15px 40px;
}
.sidebar nav button:hover {
    background-color: #2b7fc8;
}

.content {
    padding: 0px;
}

.visible {
    display: block;
}

.hidden {
    display: none;
}